pin-depends: [
  [ "tyxml.dev" "git+https://github.com/jchavarri/tyxml.git#reason-react" ]
  [ "tyxml-jsx.dev" "git+https://github.com/jchavarri/tyxml.git#reason-react" ]
  [ "tyxml-syntax.dev" "git+https://github.com/jchavarri/tyxml.git#reason-react" ]
]
